@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */

/*Styling for the body element*/
 body {
     background-color: #080708;
     color: #E6E8E6;
     padding: 20px;
}

/*Styling for buttons*/
 button {
     font-family: monospace;
     font-size: 16px;
     font-weight: 600;
}

/*Styling for h1 tag with the preview id*/
 #preview {
     border-style: dashed;
     border-color: #FDCA40;
     text-align: center;
     font-family: monospace;
     width: 700px;
}

/*Styling for buttons that are children of class text-buttons element*/
 .text-buttons>button {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     margin: 5px 30px;
     background-color: purple;
     border-color: white;
}

/*Styling for text-buttons*/
 .text-buttons {
     flex: auto;
     align-items: center;
}

/*Styling for buttons that are children of class control-button elements*/
 .control-buttons>button {
     width: 200px;
     height: 50px;
     border-radius: 10%;
     margin: 5px 30px;
     border-color: white;
}

/*Styling for elements of id speak-btn*/
 #speak-btn {
     background-color: #3772FF;
}

/*Styling for elements of id reset-btn*/
 #reset-btn {
     background-color: #DF2935;
}

/*Styling for elements of id story-btn*/
 #story-btn {
     background-color: #FDCA40;
     width: 350px;
     height: 50px;
     border-radius: 10%;
     margin: 5px 30px;
     border-color: white;
}
